<%-include("partials/header.ejs")%>

<h1>WELCOME TO BOLD Boundaries</h1>
lets get started with the creative experience.Build and grow your website with
the best way. Lightning-fast hosting, intuitive and everything you need to grow
your site and audience, baked right in.

<div class="slider">
  <div class="slide-track">

    <div class="slide">
        <img src="images/blog1.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog4.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog5.jpeg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog6.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog8.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog7.webp" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog2.webp" width="100%">
    </div>
  </div>
  </div>


  <div class="slider">
  <div class="slide-track1">

    <div class="slide">
        <img src="images/blog9.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog10.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog11.webp" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog12.jpeg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog13.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog13.webp" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog14.jpg" width="100%">
    </div>
  </div>
  </div>



  <div class="slider">
  <div class="slide-track">

    <div class="slide">
        <img src="images/blog15.webp" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog16.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog17.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog18.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog19.png" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog20.jpg" width="100%">
    </div>
    <div class="slide">
        <img src="images/blog21.png" width="100%">
    </div>
  </div>
  </div>
  <%-include("partials/footer.ejs")%>
</div>
